@model BTAdventure.Models.Scene
@{
    ViewBag.Title = "CreateOrEditScene";
}

<h2>CreateOrEditScene</h2>
<hr />

@using (Html.BeginForm("CreateOrEditScene", "Creator", FormMethod.Post))
{
    Html.HiddenFor(m => m.SceneId);
    Html.HiddenFor(m => m.GameId);
    <input type="hidden" name="SceneId" value="@Model.SceneId" />
    <input type="hidden" name="GameId" value="@Model.GameId" />
    <div class="row">
        <h3>Scene Name:</h3>
        <input placeholder="Scene Name Goes Here" value="@Model.SceneName" name="SceneName" />

    </div>
    <div class="row">
        @Html.LabelFor(m => m.IsStart)
        @Html.CheckBoxFor(m => m.IsStart)
    </div>
    <a class="btn btn-danger btnForm" href="/Creator/EditGeneration/@Model.SceneId">Cancel</a>
    <button class="btn btn-primary btnForm">Go</button>

}