@model BTAdventure.UI.Models.EditGenerationVM
@{
    ViewBag.Title = "EditGeneration";
}
<div class="row">
    <h2>EditGeneration</h2>
    <hr />
</div>

<div class="row">
    <button>Edit Scene Title</button>
    <button>Create New Event</button>
</div>
<hr />


<div class="row">
    @if (Model.AllEventByScene.Any())
    {

        if (Model.AllEventByScene.Any())
        {

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Event Id</th>
                        <th>Generation Id</th>
                        <th>Event Name</th>
                        <th>Positvie Route Id</th>
                        <th>Negative Route Id</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var a in Model.AllEventByScene)
                    {
                        <tr>
                            <td>@a.EventChoiceId</td>
                            <td>@a.GenerationNumber</td>
                            <td>@a.EventName</td>
                            <td>@(a.PositiveRoute.HasValue ? a.PositiveRoute.ToString() : "No Postive Route")</td>
                            <td>@(a.NegativeRoute.HasValue ? a.NegativeRoute.ToString() : "No Negative Route")</td>
                            <td>
                                <button>Edit</button>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <text>No existing Event</text>
        }


        @*<div class="row">
                @Model.CurrentEvent.EventChoiceId;
                <br />
                Start Event:
                <br />
                <input placeholder="EventName" value="@Model.CurrentEvent.EventName" />
            </div>

            <div class="row">
                <div>
                    Positive: @Model.CurrentEvent.PositiveRoute
                </div>
                <div>
                    Negative: @Model.CurrentEvent.NegativeRoute
                </div>
            </div>*@
    }
    else
    {
        <text>No Event Found</text>
    }
</div>
