@model BTAdventure.Models.Ending
@{
    ViewBag.Title = "Edit an Ending";
}

<h2>Edit an Ending</h2>
<div class="container-fluid wireframe">
    @using (Html.BeginForm("EditEnding", "Creator", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(a => a.EndingName, new { @class = "form-control col" })
                @Html.HiddenFor(a => a.EndingId)
                @Html.HiddenFor(a => a.GameId)
                @Html.TextBoxFor(a => a.EndingName, new { @class = "form-control col" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-top:30px;">
                @Html.LabelFor(a => a.EndingText, new { @class = "form-control col" })
                @Html.TextAreaFor(a => a.EndingText, new { @class = "form-control col" })
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary float-right" style="margin-top:20px;">Save</button>
            @Html.ActionLink("Delete", "DeleteEnding", "Creator", new { gameId = ViewBag.GameId }, new { @class = "btn btn-danger", @style = "margin-top:20px;", @onclick = "return confirm('Are you sure you wish to delete this ending?');" })
        </div>

    }
</div>

