<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choices</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link href="https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Muli|Noto+Sans|Oswald|Rosarivo" rel="stylesheet">
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="color: antiquewhite;">
                 
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="navbarItems">@Html.ActionLink("Home", "Start", "Home")</li>
                        <li class="navbarItems">@Html.ActionLink("Main Menu", "UserCommandCentre", "Account")</li>
                        <li class="navbarItems"><h1 class="customHeader">Sharp Adventure Engine<span><br /></span></h1></li>
                        <li class="navbarItems">@Html.ActionLink("Login", "Login", "Account")</li>
                        <li class="navbarItems">@Html.ActionLink("Register", "Register", "Account")</li>
                    </ul>
                </div>
            </div>
       
    <div class="container body-content">
        @RenderBody()
        <hr />
      
    </div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
