@model BTAdventure.UI.Models.GameSceneVM
@{
    ViewBag.Title = "Game";
}

<div class="container">
    <div class="col-lg-12">
        <div class="" id="hiddenStats">
           

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                
                <div class="wireframe"><p>Health: <div id="health">@Model.PlayerCharacter.HealthPoints</div>Gold: <div id="gold">@Model.PlayerCharacter.Gold</div></p></div>
            </div>
            <img class="responsive gameImage" id="storyPicture" alt="storyPicture" src="@Model.EventChoice.ImgUrl" />
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" id="characterId" value="@Model.PlayerCharacter.CharacterId">
                    <input type="hidden" id="eventChoiceId" value="@Model.EventChoice.EventChoiceId">
                    <p style="text-align:center" id="startText">@Model.EventChoice.StartText</p>
                    <p id="positiveText"><p id="positiveParagraph" style="text-align:center; visibility:hidden;" class="wireframe">@Model.EventChoice.PositiveText</p>
                    <button class="btn btn-primary" id="positiveContinue" style="visibility:hidden">Continue</button>

                    <p id="negativeText"><p id="negativeParagraph" style="text-align:center; visibility:hidden;" class="wireframe">@Model.EventChoice.NegativeText</p>
                    <button class="btn btn-primary" id="negativeContinue" style="visibility:hidden">Continue</button>

                    <p id="endingText"><p id="endingParagraph" style="text-align:center; visibility:hidden;" class="wireframe"></p>
                    @Html.ActionLink("Continue", "Ending", "Gameplay", new { @style = "visibility:hidden" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" id="positiveButton" class="btn-grad btn" onclick="OpenPositiveResponse();">@Model.EventChoice.PositiveButton</button>
                </div>

                <div class="col-md-6">
                    <button type="button" id="negativeButton" class="badChoiceButton" onclick="OpenNegativeResponse();">@Model.EventChoice.NegativeButton</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function OpenPositiveResponse() {
        document.getElementById("positiveText").style.visibility = "visible";
        document.getElementById("positiveParagraph").style.visibility = "visible";
        document.getElementById("positiveContinue").style.visibility = "visible";
    };

    function OpenNegativeResponse() {
        var negativeParagraph = document.getElementById("negativeParagraph");
        console.log(negativeParagraph);
        document.getElementById("negativeText").style.visibility = "visible";
        document.getElementById("negativeParagraph").style.visibility = "visible";
        document.getElementById("negativeContinue").style.visibility = "visible";
    };

    var baseUrl = "http://localhost:49340/api/game/";


    function xhrFail(xhr, status, err) {
        console.log(xhr, status, err);
    }


    $("#positiveContinue").click(function () {

        var choiceObject = {
            CharacterId: $("#characterId").val(),
            EventChoiceId: $("#eventChoiceId").val(),
            PositiveOrNegative: true
        };
        var url = baseUrl;
        var type = "POST";

        $.ajax({
            url: url,
            type: type,
            cache: false,
            data: JSON.stringify(choiceObject),

            contentType: "application/json"
        }).done(function (data, status) {
            if (data.IsEnding == true) {
                window.location = "/Gameplay/Ending/" + data.Ending.EndingId;
            }
            //if (data.PlayerCharacter.HealthPoints <= 0 || data.PlayerCharacter == null) {
            //    window.location = "/Gameplay/HealthDepletedEnding/"
            //}
            if (data.IsValidGame == false) {
                window.location = "/Gameplay/Error/";
            }
            

            document.getElementById("health").innerText = '' + data.PlayerCharacter.HealthPoints + '';
            document.getElementById("gold").innerText = '' + data.PlayerCharacter.Gold + '';

            $("#storyPicture").fadeOut("slow");
            document.getElementById("storyPicture").src = '' + data.EventChoice.ImgUrl + '';
            $("#storyPicture").fadeIn("slow");
            document.getElementById("startText").innerText = '' + data.EventChoice.StartText + '';

            document.getElementById("positiveButton").innerText = '' + data.EventChoice.PositiveButton + '';
            document.getElementById("negativeButton").innerText = '' + data.EventChoice.NegativeButton + '';
            document.getElementById("positiveParagraph").innerText = '' + data.EventChoice.PositiveText + '';
            document.getElementById("negativeParagraph").innerText = '' + data.EventChoice.NegativeText + '';
            document.getElementById("eventChoiceId").value = '' + data.EventChoice.EventChoiceId + '';

            document.getElementById("positiveText").style.visibility = "hidden"
            document.getElementById("positiveParagraph").style.visibility = "hidden"
            document.getElementById("positiveContinue").style.visibility = "hidden"

        }).fail(xhrFail);
    });


    $("#negativeContinue").click(function () {

        var choiceObject = {
            CharacterId: $("#characterId").val(),
            EventChoiceId: $("#eventChoiceId").val(),
            PositiveOrNegative: false
        };
        var url = baseUrl;
        var type = "POST";


        $.ajax({
            url: url,
            type: type,
            cache: false,
            data: JSON.stringify(choiceObject),

            contentType: "application/json"
        }).done(function (data, status) {
            if (data.IsEnding == true) {
                window.location = "/Gameplay/Ending/" + data.Ending.EndingId;
            }
            //if (data.PlayerCharacter.HealthPoints <= 0) {
            //    window.location = "/Gameplay/HealthDepletedEnding/"
            //}
            if (data.IsValidGame == false) {
                window.location = "/Gameplay/Error/";
            }
            



            document.getElementById("health").innerText = '' + data.PlayerCharacter.HealthPoints + '';
            document.getElementById("gold").innerText = '' + data.PlayerCharacter.Gold + '';

            $("#storyPicture").fadeOut("slow");
            document.getElementById("storyPicture").src = '' + data.EventChoice.ImgUrl + '';
            $("#storyPicture").fadeIn("slow");
            $(this).attr({ src: fullPath }).on('load', function () { $(this).fadeIn(); });

            document.getElementById("startText").innerText = '' + data.EventChoice.StartText + '';
            document.getElementById("positiveButton").innerText = '' + data.EventChoice.PositiveButton + '';
            document.getElementById("negativeButton").innerText = '' + data.EventChoice.NegativeButton + '';
            document.getElementById("positiveParagraph").innerText = '' + data.EventChoice.PositiveText + '';
            document.getElementById("eventChoiceId").value = '' + data.EventChoice.EventChoiceId + '';

            document.getElementById("positiveText").style.visibility = "hidden"
            document.getElementById("positiveParagraph").style.visibility = "hidden"
            document.getElementById("positiveContinue").style.visibility = "hidden"

        }).fail(xhrFail);
    });


    function ShowHiddenStats() {
        $("hiddenStats").toggleClass('hidden');
    }

</script>

